.button
    display: inline-block
    color: inherit
    text-decoration: none
    border: 1px solid $base-color
    padding: 0.5em 1em
    border-radius: $radius
    background: $white-color
    font-size: 1em
    &:hover
        background-color: $base-color
        color: $white-color
