$base-color: #27589d

*
    box-sizing: border-box

html, body
    margin: 0
    padding: 0
    font-family: sans-serif
    color: #202020

.container
    max-width: 1200px
    margin-right: auto
    margin-left: auto

a.button
    display: inline-block
    color: inherit
    text-decoration: none
    border: 1px solid $base-color
    padding: 0.5em 1em
    border-radius: 5px
    &:hover
        background-color: $base-color
        color: #FFF

header
    background-color: $base-color
    color: #FFF
    text-align: center
    padding: 1em 4em 3em
    border-radius: 0 0 10px 10px
    max-width: 1200px
    margin: auto
    h1
        font-size: 5em
        font-family: 'Chonburi', cursive
        font-weight: 400
        margin: 0.5em 0
        span
            display: block
            color: #71ffeb
        @media screen and ( max-width: 480px )
            font-size: 3em
    .button
        border-color: #FFF
        margin: 0.5em
        &:hover
            background-color: #FFF
            color: $base-color

main
    padding: 2em 1em
    @media screen and ( max-width: 480px )
        padding: 1em 0

.cards
    display: flex
    justify-content: center
    flex-wrap: wrap

.card
    background-color: #FFF
    box-shadow: 0 3px 14px rgba(0,0,0,0.2)
    border-radius: 5px
    width: 100%
    max-width: 250px
    margin: 0 1em 2em
    padding: 1em
    @media screen and ( max-width: 595px )
        max-width: 100%
        margin: 0 1em 1em
    .product
        font-size: 2em
        margin-bottom: 0.5em
        @media screen and ( max-width: 480px )
            font-size: 1.4em
    .by
        color: #575757

footer
    text-align: center
